@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:  rgb(17 17 17);
  color: white;
}
body {
  background-color: rgb(17 17 17);
  color: white;
}
    .container {
      max-width: 100%;
      padding: 0 1rem;
      margin: 0 auto;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
    }
    .col {
      flex: 1;
      padding: 0 1rem;
    }